# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables (IMPORTANT)
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Cache
.pytest_cache/
.cache/

# Raw data (large, not needed in repo)
data/raw/

# Temporary files
*.tmp
*.temp

# Build / dist
build/
dist/
*.egg-info/

# Artifacts (generated)
artifacts/models/
artifacts/data/
